$className: (
  "fixed": (
    position: fixed
  ),
  "sticky": (
    position: sticky
  ),
  "flex": (
    display: flex
  ),
  "block": (
    display: block
  ),
  "hidden": (
    display: none
  ),
  "flex-col": (
    flex-direction: column
  ),
  "grow": (
    flex-grow: 1
  ),
  "items-center": (
    align-items: center
  ),
  "justify-center": (
    justify-content: center
  ),
  "text-center": (
    text-align: center
  ),
  "absolute": (
    position: absolute
  ),
  "text-base-content": (
    color: var(--color-base-content)
  ),
  "justify-between": (
    justify-content: space-between
  ),
  "bg-transparent": (
    background-color: transparent
  ),
  "w-full": (
    width: 100%
  ),
  "h-full": (
    height: 100%
  )
);
