$className: (
       text-base-content: (
              color: var(--color-base-content)
       ),
       bg-base: (
              background-color: var(--color-base-100)
       ),
       bg-primary: (
              background-color: var(--color-primary)
       ),
       bg-base-content: (
              background-color: var(--color-base-content)
       )
);

@each $name, $styles in $className {
       .#{$name} {
              @each $property, $value in $styles {
                     #{$property}: $value;
              }
       }
}
